<div >
    <div class="container">
        <div id="background" style="background-image: url(_image/main.jpg);"></div>
        <div id="slidingPart" align="center">
            <div class="guitarImg fade1">
                <img align="center" class="image-item" ng-repeat="img in slides" ng-src="{{img.image}}" ng-show="isCurrentSlideIndex($index)" alt="products">
            </div>
            <button class="preNext"><a href="#" class="previous" ng-click="prevSlide()">&laquo; Previous</a></button>
            <button class="preNext"><a href="#" class="next" ng-click="nextSlide()">Next &raquo;</a></button>
<!--
        </div>
    
-->
        <button class="accordion" ng-click="toggleCustom(custom)">Product Info</button>
        <div class="panel" ng-show="custom">
            {{guitar.product_description}}
        </div>
            <button class="accordion" ng-click="toggleCustom1(custom1)">Shipping Info</button>
        <div class="panel" ng-show="custom1">
            {{guitar.shipping_details}}
        </div>
            <button class="accordion" ng-click="toggleCustom2(custom2)">Custmer Reviews</button>
        <div class="panel" ng-show="custom2">
            {{guitar.customer_reviews}}
        </div>
        </div>

    </div>
    <div class="buyOption">
        <button id="buy" style="cursor: pointer; margin-left: 1064px; margin-top: 100px; width: 85px;
    height: 34px;
    margin-bottom: 50px;" ng-click="buyGuitar()">Buy</button>
    </div>
</div>
